
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
 <!-- Chart -->
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

 <!-- Our Custom CSS -->
 <link rel="stylesheet" href="/admin/style.css">

 <!--ajax-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/typeahead.min.js"></script>
    <script type="text/javascript" src="/admin/admin.js"></script>
    <title>home</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="./home">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <ul class = "navbar-nav ml-auto">
        <li class = "nav-item active"><a href="./cinema" class="nav-link">Cinema<span class="sr-only">(current)</span></a></li>
        <li class = "nav-item"><a href="./movie" class="nav-link">Movie</a></li>
        <li class = "nav-item"><a href="./promotion" class="nav-link">Promotion</a></li>
        <li class = "nav-item"><a href="./login" class="nav-link">Login / Sign up</a></li>
      </ul>
      </div>
      </div>
    </nav>
    <h1> This is cinema page</h1>
    <!DOCTYPE html>
<html>
    <body>
        <h2>Cinema</h2>
        Information for Branch1<br />
        <button type="button" class="btn btn-primary">Branch1</button><br/>
        <br/>
        Information for Branch2<br />
        <button type="button" class="btn btn-primary">Branch2</button><br/>
        <br/>
        Information for Branch3<br />
        <button type="button" class="btn btn-primary">Branch3</button><br/>
        <br/>
        Information for Branch4<br />
        <button type="button" class="btn btn-primary">Branch4</button><br/>
        <br/>
        Information for Branch5<br />
        <button type="button" class="btn btn-primary">Branch5</button><br/>
        <br/>
        Back to Home<br />
        <button type="button" class="btn btn-primary">Back to Home</button><br/>
    </body>
</html>



 
</body>
</html>