
<%- include('partials/header'); -%>
    <h1> This is cinema page</h1>
        <h2>Cinema</h2>
        Information for Branch1<br />
        <button type="button" class="btn btn-primary">Branch1</button><br/>
        <br/>
        Information for Branch2<br />
        <button type="button" class="btn btn-primary">Branch2</button><br/>
        <br/>
        Information for Branch3<br />
        <button type="button" class="btn btn-primary">Branch3</button><br/>
        <br/>
        Information for Branch4<br />
        <button type="button" class="btn btn-primary">Branch4</button><br/>
        <br/>
        Information for Branch5<br />
        <button type="button" class="btn btn-primary">Branch5</button><br/>
        <br/>
        Back to Home<br />
        <button type="button" class="btn btn-primary">Back to Home</button><br/>

<%- include('partials/footer'); -%>