<%- include('partials/header'); -%>
<div class="container-fluid">
    <div class="manage">
        <h3>Welcome, Admin</h3>
        <div class="manage-btn">
            <i class="ti-menu"></i>
            <span>Profile</span>
            <ul class="manage-hover">
                <li><a href="#">add</a></li>
                <li><a href="#">edit</a></li>
                <li><a href="#">delete</a></li>
            </ul>
        </div>
        <div class="manage-btn">
            <i class="ti-menu"></i>
            <span>Branch</span>
            <ul class="manage-hover">
                <li><a href="#">add</a></li>
                <li><a href="#">edit</a></li>
                <li><a href="#">delete</a></li>
            </ul>
        </div>
        <div class="manage-btn">
            <i class="ti-menu"></i>
            <span>Theater</span>
            <ul class="manage-hover">
                <li><a href="#">add</a></li>
                <li><a href="#">edit</a></li>
                <li><a href="#">delete</a></li>
            </ul>
        </div>
        <div class="manage-btn">
            <i class="ti-menu"></i>
            <span>Movie</span>
            <ul class="manage-hover">
                <li><a href="/adminaddmovies">add</a></li>
                <li><a href="#">edit</a></li>
                <li><a href="#">delete</a></li>
            </ul>
        </div>
        <div class="manage-btn">
            <i class="ti-menu"></i>
            <span>Seat Price</span>
            <ul class="manage-hover">
                <li><a href="/adminaddseatprice">add</a></li>
                <li><a href="#">edit</a></li>
                <li><a href="#">delete</a></li>
            </ul>
        </div>
    </div>
</div>