@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Days+One');

body {
    font-family: 'Poppins';
    letter-spacing: 1.5px;
    background-color: #13161F;
}

/*---------------------
    navbar section
-----------------------*/

.container-fluid {
    padding-left: 90px;
    padding-right: 90px;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: 2px;
}

.navbar-nav {
    font-size: 12px;
    letter-spacing: 1.5px;
}



/*---------------------
    search section
-----------------------*/

.col-5 {
    padding-left: 30px;
   
}

.bootstrap-select, .dropdown-toggle {
    border-radius: 3px;
    font-size: 14px; letter-spacing: 1px;
    padding: 6px 0 6px 3px;
}
.opt-style {
    font-size: 12px;
    letter-spacing: 1px;
}
.dropdown-item.active, .dropdown-item:active{
	background: #00D4F1;
}
.btn-showtime {
    background-color: #00D4F1; 
    border: none;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: -27px;
    margin-top: 6px;
    padding: 6px;
    font-size: 12px; letter-spacing: 1px; font-weight: bold;
    width: 90px;
}
.search {
    padding: 7px; 
    width: 150%;
    margin-left: 50px;
}
.search input[type=text]{
    letter-spacing: 1px;
    font-size: 13px;
    color:  #00D4F1;
    border-radius: 15px;
    padding: 12px;
}
input[type=text]:focus:not([readonly]) {
    border: 2px solid #4dd0e1; 
}
.fa-search {
    color: #4dd0e1;
    margin-left: -40px;
}

/*---------------------
        carousel
-----------------------*/
.poster-carousel {
    position: absolute;
    top: 70px;
    left: 170px;
    max-width: 20%;
    border-radius: 10px;
}
.cover-carousel {
    filter: brightness(50%);
    z-index: -1;
      
}
.title-carousel {
    color: white;
    font-family: Days One;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 37%;
    z-index: 1;
}
.info-carousel {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 28%;
    left: 37%;
    right:20%;
    z-index: 1;
}
.btn-buy {
    background-color: #00D4F1; 
    border: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    position: absolute;
    bottom: 48%;
    left: 37%;

}
.btn-buy a:hover {
    text-decoration: none;
    color: white;

}
p {
    font-size: 10px;
}

/*---------------------
        Movies
-----------------------*/
.mv-row {
    padding: 20px 30px 0 20px;
    border-bottom: .5px solid #ccc;
}
h4 {
    color: white;
}

.movies h5 {
    font-weight: bold;
}

.movies .nav-link {
    padding: 1rem .6rem;
    font-size: 13px;
    color: white;
}

.movies .nav-link:hover {
    color: #4dd0e1;
}

.movies .nav-link.active {
    font-weight: bolder;
    position: relative;
    color: #4dd0e1;
}

a.nav-link.active:after {
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #4dd0e1;
}

.movies .movies-list {
    overflow-y: scroll;
    margin-top: 20px
}

.movies .movies-list article {
    display: none;
}

.movies .movies-list article.active {
    display: block;
}

.movies-list .movie {
    padding-top: 5px;
    padding-bottom: 20px;
    cursor: pointer;
}
.movies-list .movie .poster {
    width: 100%;
    border-radius: 10px;
}
.movies-list .movie .title {
    padding-top: 13px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
.movies-list .movie .info {
    padding-top: 3px;
    font-size: 10px;
    color: #ccc;
    font-weight: 2px;
}
.row-month {
    height: 38px;  
}
.row-month2 {
    height: 38px;
    margin-top: 40px;
}
.vl {
    border-right: 4px solid #4dd0e1;
    height: 5px;
    padding-left: 5px;
}
.month {
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding-left: 7px;
}

.hide-left {
    display: none;
    position: absolute;
    top: 5px;
    padding: 20px 55px 20px 55px;
    border-radius: 5px;
    background-color: white;
    width: 530px;
    height: 95%;
    font-size: 11px; 
}
.hide-left .row, .hide-right .row {
    padding: 10px 0 10px 0px;
}
.show:hover .title {
    color: #4dd0e1;
    font-weight: bold;
}
.show:hover .info {
    color: white;
}

.hide-right {
    display: none;
    position: absolute;
    top: 5px;
    padding: 20px 55px 20px 55px;
    border-radius: 5px;
    background-color: white;
    width: 530px;
    height: 95%;
    font-size: 11px; 
}
.show:hover + .hide-left {
    display: block;
    left: 250px;
    z-index: 1;
}
.show:hover +.hide-right {
    display: block;
    right: 250px;
    z-index: 1;
}
.detail .row  {
    border-bottom: .5px solid lightgrey;
}
.detail .theater {
    background-color: #4dd0e1;
    padding: 3px 15px 3px 15px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
   
}
.detail .rating {
    text-align: center;
    
}
.spacial {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    height: 30px;
   
}
.detail p{
    font-weight: bold;
    font-size: 12px;
}
.row.plot {
    height: 240px;
}
.row.date {
    border-bottom: none;

}
.col.cdate {
    left: -14px;
    
}

/*---------------------
        Cinema
-----------------------*/
.cinema, .manage {
    margin: 0 25px 0 20px;
    border-radius: 3px;
    background-color: white;
    padding: 30px 80px 30px 80px;
}
.area {
    border-bottom: 1px solid black;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

.branch {
    padding: 5px 50px 5px 50px;  
}
.logo {
    height: 90px;
    float: left;
    cursor: pointer;
}
.b-info {
   padding-top: 20px;
   cursor: pointer;
   border: none;
   text-align: left;
}
.b-info:hover {
    color: #4dd0e1;
}
.name {
    font-weight: bold;
    font-size: 16px;
}

.Tel {
    font-size: 11px;
}

/*---------------------
        Admin
-----------------------*/
h3 {
    font-weight: 700;
    font-size: 40px;
    padding-top: 110px;
    padding-bottom: 90px;
    
}
.manage {
    text-transform: uppercase;
    height: 650px;
    text-align: center;
}

.manage .manage-btn {
    background-color:black;
    border-radius: 3px;
    color: white;
    padding: 15px 65px 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 10px;
    cursor: pointer;
    position: relative;
}
.manage .manage-btn:hover {
    background-color: #FFD41F;
}

.manage .manage-btn:hover .manage-hover {
	top: 52px;
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.manage .manage-btn:before {
	position: absolute;
	color: #ffffff;
	right: 20px;
	top: 13px;
	content: "";
	font-family: FontAwesome;
	font-size: 18px;
}

.manage .manage-btn .manage-hover {
	position: absolute;
	width: 100%;
    background: #fff;
    border: .5px solid #FFD41F;
	left: 0;
	margin-top: -1px;
	opacity: 0;
	visibility: hidden;
	padding-bottom: 29px;
	transition: all 0.5s;
}

.manage .manage-btn .manage-hover li {
	list-style: none;
}


.manage .manage-btn .manage-hover li a {
	display: block;
	font-size: 13px;
	color: #000000;
	margin-left: -16px;
	padding-top: 16px;
    padding-right: 30px;
    text-align: center;
}

.manage .manage-btn .manage-hover li a:hover {
    color: #FFD41F;
    text-decoration: none;
}





