<h1>หลังจากกด find all value , select brances จะเข้าหน้านี้</h1>
<h1>"Time page"</h1>
<h2> phond do this page </h2>


<div class="manage-btn">
    <ul class="manage-hover">
        <a href="/bookingmovies"> -> go to booking form</a>
    </ul>
</div>